<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
            
    <bean name="reportDao" class="com.bitzware.exm.dao.impl.ReportDaoImpl">
        <property name="idGenerator">
            <bean class="com.bitzware.exm.util.UuidGenerator" />
        </property>
        
        <property name="serverPropertyDao" ref="serverPropertyDao" />
    </bean>
            
    <bean name="reportGeneratorDao" class="com.bitzware.exm.dao.impl.ReportGeneratorDaoImpl">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
            
    <bean name="testDao" class="com.bitzware.exm.dao.TestDao">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
</beans>